
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  color: black;
  background-color: lightsteelblue;
}

li {
  float: left;
}
li:not(:first-child) {
  margin-left: 10px;
}

a {
  color: black;
}
