<br />
<h1>Yu-Gi-Oh! Deckbuilder</h1>
<h2>Edit Deck</h2>

<h3>Deck Name: {{ givenDeck.name }}</h3>
<button mat-flat-button color="primary" (click)="updateDeck()">Update</button>

<br />
<br />

<table>
  <tr>
    <th>Card ID</th>
    <th>Card Name</th>
    <th>ATK</th>
    <th>DEF</th>
    <th>Level</th>
    <th>Summon Type</th>
    <th>Amount</th>
  </tr>
  <tr *ngFor="let card of cards; let i = index">
    <td>{{ card.id }}</td>
    <td>{{ card.name }}</td>
    <td>{{ card.atk }}</td>
    <td>{{ card.def }}</td>
    <td>{{ card.level }}</td>
    <td>{{ card.summonType }}</td>
    <td>
      <button
        mat-button
        [disabled]="deckService.cardsToUpdate[i].amount === 0"
        (click)="
          deckService.cardsToUpdate[i].amount =
            deckService.cardsToUpdate[i].amount - 1
        "
      >
        -
      </button>
      <input
        type="number"
        [disabled]="true"
        [(ngModel)]="deckService.cardsToUpdate[i].amount"
      />
      <button
        mat-button
        [disabled]="deckService.cardsToUpdate[i].amount === 3"
        (click)="
          deckService.cardsToUpdate[i].amount =
            deckService.cardsToUpdate[i].amount + 1
        "
      >
        +
      </button>
    </td>
  </tr>
</table>
