<br />
<h1>Yu-Gi-Oh! Deckbuilder</h1>
<h2>Build new Deck</h2>
<br />
<mat-form-field>
  <input matInput placeholder="Deck Name" [(ngModel)]="deckService.deckName" />
</mat-form-field>
<button mat-flat-button color="primary" (click)="addNewDeck()">Add Deck</button>
<br />
<br />
<table>
  <tr>
    <th>Card ID</th>
    <th>Card Name</th>
    <th>ATK</th>
    <th>DEF</th>
    <th>Level</th>
    <th>Summon Type</th>
    <th>Amount</th>
  </tr>
  <tr *ngFor="let card of cards">
    <td>{{ card.id }}</td>
    <td>{{ card.name }}</td>
    <td>{{ card.atk }}</td>
    <td>{{ card.def }}</td>
    <td>{{ card.level }}</td>
    <td>{{ card.summonType }}</td>
    <td>
      <button (click)="removeCardFromDeck(card)" >-</button>
      1
      <button (click)="addCardToDeck(card)">+</button>
    </td>
  </tr>
</table>
