<h1>Yu-Gi-Oh! Deckbuilder</h1>
<br />
<p>
  <mat-form-field appearance="fill">
    <mat-label>Deck Name:</mat-label>
    <input matInput />
  </mat-form-field>
  <button mat-flat-button color="primary">Add new Deck</button>
</p>
<br />
<div class="float-container">
  <mat-card>
    <mat-card-content>
      <div class="example-container">
        <h2>Main Deck:</h2>

        <div
          cdkDropList
          #main="cdkDropList"
          [cdkDropListData]="mainDeck"
          [cdkDropListConnectedTo]="[allCards, side]"
          class="example-list"
          (cdkDropListDropped)="remove($event)"
        >
          <div class="example-box" *ngFor="let item of mainDeck" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br /><br />
  <mat-card>
    <mat-card-content>
      <div class="example-container">
        <h2>Side Deck:</h2>
        <div
          cdkDropList
          #side="cdkDropList"
          [cdkDropListData]="sideDeck"
          [cdkDropListConnectedTo]="[allCards, main]"
          class="example-list"
          (cdkDropListDropped)="remove($event)"
        >
          <div class="example-box" *ngFor="let item of sideDeck" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div class="float-container">
  <mat-card>
    <mat-card-content>
      <div class="example-container">
        <h2>Cards:</h2>

        <div
          cdkDropList
          #allCards="cdkDropList"
          [cdkDropListData]="cards"
          [cdkDropListConnectedTo]="[main, side]"
          class="example-list"
          (cdkDropListDropped)="remove($event)"
        >
          <div class="example-box" *ngFor="let item of cards" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
